<html>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
      <!-- meta name="viewport" content="with-device-width,initial-scale=1.0,user-scalable=yes"/-->
      <meta name="viewport" content="with-device-width"/>
      <link rel="icon" type="image/png" href="/img/favicon-96x96.png">
      <link rel="stylesheet" type="text/css" href="{base}/css/styles-white.css"/>
      <title>{title}</title>
    </head>

<body>
    <div class="logo">
        <div style="float:left;">
            <!-- a href="{base}/"><img src="{base}/img/dwworks-logo-bw-98x24.png" alt="dwworks.ru"/></a -->
            <a href="{base}/"><img src="{base}/img/dwwiki-by-98x27.png" alt="DWWIKI"/></a>
        </div>
        <div style="float:left;padding-left:12px;">
            <a href="{base}/docs/">docs</a> | 
            <a href="{base}/docs/database/">database</a>
        </div>
    </div>
<div class="report-body">
        
    <h1>Error {error_code}</h1>

    <p>{error_message}</p>

    <p>URL: <code><font color="red">{url}</font></code></p>
</div>
</body>
