<html>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
      <!-- meta name="viewport" content="with-device-width,initial-scale=1.0,user-scalable=yes"/-->
      <meta name="viewport" content="with-device-width"/>
      <meta name="description" content="хранилища данных отчетность интеграция аналитика"/>
      <meta name="keywords" content="DWH,BI,reports,OLAP,ETL,ХД,хранилище данных"/>
      <meta name="author" content="Daniel Klimov"/>
      <link rel="icon" type="image/png" href="/img/favicon-96x96.png">
      <link rel="stylesheet" type="text/css" href="{base}/css/styles-white.css"/>
      <title>{title}</title>
    </head>

<body>
    <div class="logo">
        <div style="float:left;">
            <!-- a href="{base}/"><img src="{base}/img/dwworks-logo-bw-98x24.png" alt="dwworks.ru"/></a -->
            <a href="{base}/"><img src="{base}/img/dwwiki-by-98x27.png" alt="dwwiki"/></a>
        </div>
        <div style="float:left;padding-left:12px;">
            <a href="{base}/docs/">docs</a> | 
            <a href="{base}/docs/database/">database</a>
        </div>
    </div>
    <div style="clear:both"/>

    {notice}

    {page_menu}

<div class="report-body">
