# ----------------------------------------
# This file is not used here actually
# All config params are set in source code
# in dwwikiserver.py script
# ----------------------------------------

[global]
server.socket_host: "0.0.0.0"
server.socket_port: 8087
# Needed to stream tables
tools.gzip.on: False

# Used when proxying behind apache
#tools.proxy.on: True
#tools.proxy.base: "http://localhost"
#tools.proxy.base: "http://192.168.1.7"
# This one is needed behind apache proxy, don't remember why exactly
#tools.proxy.local: ""
log.screen: True
#log.access_file = "/home/daniel/src/dwwiki/log/access.log"
#log.error_file = "/home/daniel/src/dwwiki/log/error.log"

# temporary file dir
dwwiki.tempfiledir = '/home/daniel/src/dwwiki/tempfiles'

# wiki pages dir
dwwiki.wikidir = 'www/wiki'

# html templates dir
dwwiki.htmltemplatesdir = '/home/daniel/src/dwworks-ru/templates'

request.show_tracebacks = False
tools.secureheaders.on = True


[/]
tools.staticdir.root = "/home/daniel/src/dwwiki"
tools.trailing_slash.on: False
tools.sessions.on = True
tools.sessions.storage_type = "file"
tools.sessions.storage_path = "/home/daniel/src/dwwiki/sessions"
#tools.sessions.storage_path = "/home/klimov/src/dwreports/sessions"
tools.sessions.timeout = 43200

#[/css]
#tools.staticdir.on = True
#tools.staticdir.dir = "css"

#[/img]
#tools.staticdir.on = True
#tools.staticdir.dir = "img"

#comments
# more comments
